#browser-logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #navbar-logo {
    height: 24px; /* Adjust this value to match your desired logo size */
    width: auto;
    object-fit: contain;
  }

  #navbar {
    border-radius: 10 10 0px 0px; /* Adjust the values as needed */
    /* Optional: Add border to see the rounded corners */
    background-color: black;
  }
  